*.b#?
*.s#?
*.B#?
*.S#?

# KiCad Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb

# KiCad Netlist files (exported from Eeschema)
*.net

# KiCad Autorouter files (exported from Pcbnew)
*.dsn
*.ses


